USE [master]
GO
/****** Object:  Database [BD_GESPLAINTE]    Script Date: 01/06/2021 11:11:10 ******/
CREATE DATABASE [BD_GESPLAINTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_PLAINTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.IRNSINGI_SERVER\MSSQL\DATA\BD_PLAINTE.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_PLAINTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.IRNSINGI_SERVER\MSSQL\DATA\BD_PLAINTE_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_GESPLAINTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_GESPLAINTE]
GO
/****** Object:  Table [dbo].[ABONNES]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABONNES](
	[NUMABO] [int] NOT NULL,
	[NOMSABO] [nvarchar](30) NOT NULL,
	[CODTYPEABO] [int] NOT NULL,
	[CODCABINE] [int] NOT NULL,
	[CODAVENUE] [int] NOT NULL,
 CONSTRAINT [PK__ABONNES__72385FD8D634C5AC] PRIMARY KEY CLUSTERED 
(
	[NUMABO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AGENTS]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGENTS](
	[MATR] [int] NOT NULL,
	[NOMAGENT] [nvarchar](15) NOT NULL,
	[PNOMAGENT] [nvarchar](15) NOT NULL,
	[PRNOMAGENT] [nvarchar](15) NOT NULL,
	[NUMTEL] [int] NULL,
	[DATENAISS] [date] NULL,
	[SEXE] [char](1) NULL,
	[CODSERVICE] [int] NULL,
	[CODGRADE] [nvarchar](8) NULL,
	[ADRESSE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AVENUE]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVENUE](
	[CODAVENUE] [int] NOT NULL,
	[DESIAVENUE] [nvarchar](30) NOT NULL,
	[NUMPARCELLE] [nvarchar](50) NOT NULL,
	[CODQUARTIER] [int] NOT NULL,
 CONSTRAINT [PK__AVENUE__9D9FBB9D75B91F3F] PRIMARY KEY CLUSTERED 
(
	[CODAVENUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CABINES]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CABINES](
	[CODCABINE] [int] NOT NULL,
	[LIBCABINE] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODCABINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[CODGRADE] [nvarchar](8) NOT NULL,
	[LIBGRADE] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODGRADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLAINTES]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAINTES](
	[NUMPLAINTE] [int] IDENTITY(1,1) NOT NULL,
	[DATEDEPOT] [date] NOT NULL,
	[NUMABO] [int] NOT NULL,
	[CODTYPEPLAINTE] [int] NOT NULL,
 CONSTRAINT [PK__PLAINTES__2FD9CBEBAA2A4D77] PRIMARY KEY CLUSTERED 
(
	[NUMPLAINTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUARTIER]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUARTIER](
	[CODQUARTIER] [int] NOT NULL,
	[DESIQUARTIER] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODQUARTIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SERVICES]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICES](
	[CODSERVICE] [int] NOT NULL,
	[LIBSERVICE] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODSERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPEABONNE]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEABONNE](
	[CODTYPEABO] [int] NOT NULL,
	[DESITYPEABO] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODTYPEABO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPEPLAINTE]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEPLAINTE](
	[CODTYPEPLAINTE] [int] NOT NULL,
	[LIBTYPEPLAINTE] [nvarchar](50) NULL,
	[CODSERVICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODTYPEPLAINTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UTILISATEURS]    Script Date: 01/06/2021 11:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEURS](
	[ID_USER] [int] NOT NULL,
	[NOMUTIL] [nvarchar](15) NOT NULL,
	[MOTDEPASSE] [nvarchar](30) NOT NULL,
	[MATR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ABONNES]  WITH CHECK ADD  CONSTRAINT [FK_ABONNES_AVENUE] FOREIGN KEY([CODAVENUE])
REFERENCES [dbo].[AVENUE] ([CODAVENUE])
GO
ALTER TABLE [dbo].[ABONNES] CHECK CONSTRAINT [FK_ABONNES_AVENUE]
GO
ALTER TABLE [dbo].[ABONNES]  WITH CHECK ADD  CONSTRAINT [FK_ABONNES_CABINES] FOREIGN KEY([CODCABINE])
REFERENCES [dbo].[CABINES] ([CODCABINE])
GO
ALTER TABLE [dbo].[ABONNES] CHECK CONSTRAINT [FK_ABONNES_CABINES]
GO
ALTER TABLE [dbo].[ABONNES]  WITH CHECK ADD  CONSTRAINT [FK_ABONNES_TYPEABONNE] FOREIGN KEY([CODTYPEABO])
REFERENCES [dbo].[TYPEABONNE] ([CODTYPEABO])
GO
ALTER TABLE [dbo].[ABONNES] CHECK CONSTRAINT [FK_ABONNES_TYPEABONNE]
GO
ALTER TABLE [dbo].[AGENTS]  WITH CHECK ADD FOREIGN KEY([CODGRADE])
REFERENCES [dbo].[GRADES] ([CODGRADE])
GO
ALTER TABLE [dbo].[AGENTS]  WITH CHECK ADD FOREIGN KEY([CODSERVICE])
REFERENCES [dbo].[SERVICES] ([CODSERVICE])
GO
ALTER TABLE [dbo].[AVENUE]  WITH CHECK ADD  CONSTRAINT [FK__AVENUE__CODQUART__1CF15040] FOREIGN KEY([CODQUARTIER])
REFERENCES [dbo].[QUARTIER] ([CODQUARTIER])
GO
ALTER TABLE [dbo].[AVENUE] CHECK CONSTRAINT [FK__AVENUE__CODQUART__1CF15040]
GO
ALTER TABLE [dbo].[PLAINTES]  WITH CHECK ADD  CONSTRAINT [FK_PLAINTES_ABONNES] FOREIGN KEY([NUMABO])
REFERENCES [dbo].[ABONNES] ([NUMABO])
GO
ALTER TABLE [dbo].[PLAINTES] CHECK CONSTRAINT [FK_PLAINTES_ABONNES]
GO
ALTER TABLE [dbo].[PLAINTES]  WITH CHECK ADD  CONSTRAINT [FK_PLAINTES_TYPEPLAINTE] FOREIGN KEY([CODTYPEPLAINTE])
REFERENCES [dbo].[TYPEPLAINTE] ([CODTYPEPLAINTE])
GO
ALTER TABLE [dbo].[PLAINTES] CHECK CONSTRAINT [FK_PLAINTES_TYPEPLAINTE]
GO
ALTER TABLE [dbo].[TYPEPLAINTE]  WITH CHECK ADD FOREIGN KEY([CODSERVICE])
REFERENCES [dbo].[SERVICES] ([CODSERVICE])
GO
ALTER TABLE [dbo].[UTILISATEURS]  WITH CHECK ADD  CONSTRAINT [FK_UTILISATEURS_AGENTS] FOREIGN KEY([MATR])
REFERENCES [dbo].[AGENTS] ([MATR])
GO
ALTER TABLE [dbo].[UTILISATEURS] CHECK CONSTRAINT [FK_UTILISATEURS_AGENTS]
GO
USE [master]
GO
